<main class="h-full bg-white px-3 py-4 text-sm" :style="{ 'font-family': print.font }">
  <!-- Invoice Header -->
  <header class="flex flex-col items-center text-center">
    <!-- Company Logo & Name -->
    <img
      v-if="print.displayLogo"
      class="h-16 mb-1 w-full object-contain"
      :src="print.logo"
    />
    <h2 class="font-semibold text-xl" :style="{ color: print.color }">
      {{ print.companyName }}
    </h2>

    <!-- Company Address & Contacts -->
    <p v-if="print.address" class="mt-1 text-xs">
      {{ print.links.address.addressDisplay }}
    </p>
    <p v-if="print.phone" class="text-xs">{{ print.phone }}</p>
    <p v-if="print.email" class="text-xs">{{ print.email }}</p>
    <p v-if="print.gstin" class="text-xs">
      {{ t`GSTIN` }}: {{ print.gstin }}
    </p>

    <h4 class="mt-3 font-semibold text-lg">{{ t`Invoice` }}</h4>
  </header>

  <!-- Invoice Details -->
  <section class="mt-2 text-xs">
    <div class="flex gap-2">
      <p class="w-20 font-semibold">{{ t`Invoice No` }}</p>
      <p>{{ doc.name }}</p>
    </div>
    <div class="flex gap-2">
      <p class="w-20 font-semibold">{{ t`Customer` }}</p>
      <p>{{ doc.party }}</p>
    </div>
    <div class="flex gap-2">
      <p class="w-20 font-semibold">{{ t`Date` }}</p>
      <p>{{ doc.date }} {{ doc.time }}</p>
    </div>
  </section>

  <!-- Items Table -->
  <section class="mt-2 text-xs">
    <!-- Heading Row -->
    <div class="flex gap-1 border-y border-black py-1 font-semibold">
      <p class="w-4">#</p>
      <p class="flex-1">{{ t`Item` }}</p>
      <p class="w-8 text-right">{{ t`Qty` }}</p>
      <p class="w-14 text-right">{{ t`Rate` }}</p>
      <p class="w-16 text-right">{{ t`Amount` }}</p>
    </div>

    <!-- Body Rows -->
    <div
      class="flex gap-1 py-1"
      v-for="(row, index) in doc.items"
      :key="row.name"
    >
      <p class="w-4">{{ index + 1 }}</p>
      <p class="flex-1">{{ row.item }}</p>
      <p class="w-8 text-right">{{ row.qty }}</p>
      <p class="w-14 text-right">{{ row.rate }}</p>
      <p class="w-16 text-right">{{ row.amount }}</p>
    </div>
  </section>

  <!-- Totaled Amounts -->
  <section class="border-t border-black py-1 text-xs">
    <div class="flex justify-between">
      <p>{{ t`Subtotal` }}</p>
      <p>{{ doc.netTotal }}</p>
    </div>
    <div v-if="doc.totalDiscount" class="flex justify-between">
      <p>{{ t`Discount` }}</p>
      <p>{{ doc.totalDiscount }}</p>
    </div>
    <div
      class="flex justify-between"
      v-for="tax in doc.taxes"
      :key="tax.name"
    >
      <p>{{ tax.account }}</p>
      <p>{{ tax.amount }}</p>
    </div>
  </section>

  <!-- Grand Total -->
  <section
    class="flex justify-between border-y border-black py-2 font-semibold text-lg"
  >
    <p>{{ t`Grand Total` }}</p>
    <p>{{ doc.grandTotal }}</p>
  </section>

  <!-- Payments -->
  <section v-if="doc.paymentDetails" class="mt-2 text-xs">
    <div class="flex font-semibold">
      <p class="flex-1">{{ t`Payment Method` }}</p>
      <p class="w-20 text-right">{{ t`Paid` }}</p>
      <p class="w-20 text-right">{{ t`Balance` }}</p>
    </div>
    <div class="flex" v-for="(row, index) in doc.paymentDetails" :key="index">
      <p class="flex-1">{{ row.paymentMethod }}</p>
      <p class="w-20 text-right">{{ row.amount }}</p>
      <p class="w-20 text-right">{{ row.outstandingAmount }}</p>
    </div>
  </section>

  <p class="mt-4 text-center">{{ t`Thank you! Please visit again.` }}</p>
</main>
